<div class="span-16 large prepend-4 append-4" style="margin-bottom: 0px;">
  <div style="text-align:center" class="large">
    <%= @cover_band_name.name %> is the name of my <%= @cover_band_name.band %> cover band. 
    
    <%= link_to image_tag("/images/refresh.jpg", :class => :refresh), root_path, :title => "Click for random" %>
  </div> 
</div>

<%= render :partial => "ratings/rating", :locals => {:asset => @cover_band_name} %>

<%= render :partial => "social", :locals => {:band => @cover_band_name} %>

