<% for band in @cover_band_names %>
<div class="span-16 large prepend-4 append-4">
  <div style="text-align:center" class="loud notice">
    <%= band.name %> is the name of my <%= band.band %> cover band.<br />
    Link: <%= link_to cover_band_name_url(band), band %><br />
    Current rating: <%= band.average_rating %>
    <p>
      <a href="http://twitter.com/share" class="twitter-share-button" data-text="<%= band.name %> is the name of my <%= band.band %> cover band #mycoverband" data-count="none">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
      <iframe src="http://www.facebook.com/plugins/like.php?href=<%= root_url %>%2Fcover_band_name%2F<%= band.id %>&amp;send=false&amp;layout=button_count&amp;width=50&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
    </p>
  </div> 
</div>
<% end -%>